<head>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
</head>

<style>
body {
	font-family: 'Open Sans', sans-serif;
}
</style>

<form method="get" action="/stocks">
<input name="q" value="">
<input type="submit">
</form>
	<div id="price">
	<% @data.css("#price-panel").each do |stock| %>
		<h1>$<%= stock.css(".pr") %></h1>
		<h3><%= stock.css(".ch") %></h3>
	<% end %>
	</div>
	<% @rss = RSS::Parser.parse("https://www.google.com/finance/company_news?q=#{params[:q]}&output=rss", false) %>
	<div id ="news">
	<ol>
	<% count = 0 %>
	<% @rss.items.each do |article| %>
		<li><a href="<%= article.link %>"><%= article.title %></a></li>
		<% @news = Nokogiri::HTML(open("#{article.link}", 'User-Agent' => 'firefox')) %>
		<%= @analyzer.get_score "#{@news.css("p")}" %>
		<%= @analyzer.get_sentiment "#{@news.css("p")}" %>
		<% hash = {:sentiment => "#{@analyzer.get_sentiment "#{@news.css("p")}"}"} %>
		<% if hash[:sentiment].include?("positive") %>
					<% count += 1 %>	
		<% elsif hash[:sentiment].include?("neutral") %>
					<% count += 0 %>
		<% elsif hash[:sentiment].include?("negative") %>
					<% count -= 1 %>	
		<% end %>
	<% end %>
		<% if count >= 7 %>
			<h2 style="color:orange;">High sentiment, be careful!</h2>
		<% elsif count >= 3 && count < 7  %>
			<h2 style="color:green">Sentiment is at a good level. It may be a good time to buy.</h2>
		<% elsif count < 3 %>
			<h2 style="color:red">Low sentiment. Do not buy!</h2>
		<% end %>
	</ol>
	</div>
